// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.index {
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto 0;
  max-width: 26em;
}

#blog-archives {
  margin-top: -.75em;
}

.tag-cloud {
  p {
    text-align: center;
    margin: 0 1em;
    span {
      line-height: 1.4em;
      margin: 0 .25em;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
